html{
  
}



body {
  
  /*background-color: rgb(78, 83, 88);*/
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
   
}

br {
  background-color: black;
}

a,p{
  color: rgb(226, 226, 226);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: aliceblue;
}

* {
  box-sizing: border-box;
}

form input, form label, form textarea {
  color: #ffffff; /* replace with your desired color */
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("../public/dark-background4.jpg");
  background-size: cover;
  background-color: black;
  background-repeat: repeat-x;
  position: relative;
 
  }
  
}